@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--clr-white: rgb(255, 255, 255);
	--clr-lightgrey: rgb(221, 221, 221);
	--clr-lightaquamarine: rgba(129, 180, 175, 0.2);
	--clr-lightbrown: rgb(244, 242, 234);
	--clr-darkbrown: rgb(145, 141, 128);
	--clr-brown: rgb(208 203 184);
	--clr-black: rgb(0, 0, 0);
	--clr-aquamarine: rgb(176, 240, 235);
	--clr-green: rgb(71, 163, 156);
	--clr-darkgreen: rgb(34, 102, 96);
	--clr-success: rgb(71, 163, 156);
	--clr-error: rgb(205, 0, 0);

	--font-family: 'Poppins', sans-serif;
	--font-formheadline: 500 30px/1.2 'Poppins', sans-serif;
	--font-modal: 300 20px/1.2 'Poppins', sans-serif;
	--font-standard: 400 15px/1.2 'Poppins', sans-serif;
	--font-thin: 300 15px/1.2 'Poppins', sans-serif;
	--font-landingpage: 700 100px/1.2 'Poppins', sans-serif;
	--font-landingpage-mobile: 700 14vw/1.2 'Poppins', sans-serif;
	--font-input: 700 28px/1.2 'Poppins', sans-serif;

	--shadow: 7px 12px 24px -8px rgba(0, 0, 0, 0.4);
	--shadow-selected: 7px 12px 24px -8px rgba(71, 163, 156, 0.6);

	--radius: 25px;
	--radius2: 30px;
	--radius-button: 4px;
	--radius-circle: 60px;

	--width100: 100%;
}

.navigationWithPicture {
	background: var(--clr-darkgreen);
	box-shadow: var(--shadow);
	font: var(--font-standard);
	width: 100vw;
	display: flex;
	justify-content: space-between;
	height: 70px;
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	z-index: 100;
}

.navigationWithoutPicture {
	font: var(--font-standard);
	width: 100vw;
	display: flex;
	justify-content: space-between;
	height: 70px;
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	z-index: 100;
}

.navMainList {
	flex-wrap: wrap;
	float: right;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.navMainList,
.navMainListMobile {
	padding-right: 20px;
}

.navList {
	list-style-type: none;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}

.hamburger {
	display: none;
	z-index: 6;
}

.footerWithPicture {
	color: var(--clr-white);
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	position: absolute;
	text-align: center;
	top: 10%;
	z-index: -1;
}

.footerWithoutPicture {
	background: var(--clr-lightbrown);
	color: var(--clr-brown);
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
}

.navLogo {
	text-align: center;
	height: 25px !important;
	width: 25px !important;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	color: var(--clr-white);
	border: 2px solid transparent;
	border-radius: var(--radius-circle);
	z-index: -1;
	cursor: pointer;
}

.navLogoInner {
	height: 25px !important;
	width: 25px !important;
	fill: var(--clr-white);
	padding: 12px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.navLogoInner:hover {
	fill: var(--clr-aquamarine);
}

.navLogo:hover {
	border: 2px solid var(--clr-aquamarine);
	border-radius: var(--radius-circle);
	margin: 10px;
	transition: border 0.2s linear;
}

.navLogoInner:after {
	display: block;
	content: '';
	padding: 10px;
	border-bottom: solid 2px var(--clr-aquamarine);
	transform: scaleX(0);
	padding: 10px;
	transition: transform 0.2s linear;
}

.navPositionLeft {
	display: flex;
	align-content: flex-start;
	z-index: 1;
}

.navPositionRight {
	display: flex;
	text-align: right;
	z-index: 1;
}

.sidebar {
	padding: 50px;
	border: var(--clr-brown) 4px solid;
	border-radius: var(--radius);
	margin-bottom: 29px;
}

.sidebarList {
	text-align: center;
}

.sidebarListElement {
	display: inline-block;
	font: var(--font-standard);
	text-align: center;
	width: 100%;
}

.sidebarInactiveLink {
	color: var(--clr-brown);
	text-decoration: none;
	display: inline-block;
	padding: 25px;
	transition: color 0.5s;
}

.sidebarActiveLink {
	color: var(--clr-darkgreen);
	text-decoration: none;
	display: inline-block;
	padding: 25px 0;
	transition: color 0.5s;
	border-bottom: 3px solid var(--clr-darkgreen);
	width: 100%;
	margin: -3px auto;
	transition: width 0.2s, background-color 0.5s;
}

.sidebarActiveLink:hover {
	background: var(--clr-lightbrown);
	border-bottom: 3px solid var(--clr-green);
	z-index: 1;
}

.sidebarLinkUnderline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
	z-index: 0;
}

.sidebarActiveLink {
	width: 100%;
	color: var(--clr-darkgreen);
}

.sidebarInactiveLink:hover,
.sidebarActiveLink:hover {
	color: var(--clr-green);
}

.sidebarListElement:hover .sidebarLinkUnderline {
	background-color: var(--clr-green);
	width: 100%;
}

.footerText {
	text-align: center;
	padding: 22.5px;
	text-decoration: none;
	font: var(--font-standard);
	background: var(--clr-lightbrown);
	width: 100vw;
}

.username,
.navLinkMobile,
.navLinkDesktop {
	text-align: center;
	padding: 22.5px;
	text-decoration: none;
	font: var(--font-standard);
	display: inline-block;
	z-index: 0;
}

.username {
	color: var(--clr-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navLinkMobile,
.navLinkDesktop {
	color: var(--clr-white);
}

.navLinkMobile:hover,
.navLinkDesktop:hover {
	color: var(--clr-aquamarine);
}

.navLinkMobile:after,
.navLinkDesktop:after {
	border-bottom: solid 2px var(--clr-aquamarine);
}

.navLinkMobile:after,
.navLinkDesktop::after {
	display: block;
	content: '';
	transform: scaleX(0);
	transition: transform 180ms ease-in-out;
	margin-top: 5px;
}

.navLinkMobile:hover:after,
.navLinkDesktop:hover:after {
	transform: scaleX(1);
}

.logOutButtonDesktop,
.logOutButtonMobile {
	font: var(--font-standard);
	text-align: center;
	margin: 10px 10px 15px 10px;
	padding-right: 22.5px;
	padding-left: 22.5px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border: none;
	background: transparent;
	border-radius: var(--radius-circle);
	color: var(--clr-white);
	border: 2px solid var(--clr-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: -1;
}

.logOutButtonMobile {
	padding-top: 20px;
	padding-bottom: 20px;
}

.logOutButtonDesktop:hover,
.logOutButtonMobile:hover {
	background: var(--clr-aquamarine);
	color: var(--clr-darkgreen);
	border: 2px solid var(--clr-aquamarine);
	transition: background 0.2s linear;
}

.searchContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.landingPageHeadline {
	font: var(--font-landingpage);
	color: var(--clr-white);
	position: absolute;
	top: 40%;
	left: 10%;
	line-height: 100px;
}

.landingPageVideo {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	z-index: -4;
	height: 100%;
}

.dashboardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
}

.selectBox {
	padding: 50px;
	border: var(--clr-brown) 4px solid;
	border-radius: var(--radius);
	margin-bottom: 44px;
	display: flex;
	width: 70%;
	justify-content: end;
}

.dashboardSidebar {
	width: 20%;
	display: flex;
	justify-content: center;
}

.dashboardBox {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.petMain {
	font-family: var(--font-family);
	background: var(--clr-lightbrown);
	overflow: hidden;
	min-height: 100vh;
	width: 100%;
}

.lostAndFoundHeadline {
	font: 700 38px/1.2 'Poppins', sans-serif;
	display: flex;
	padding-top: 150px;
	padding-bottom: 100px;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.petListContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
}

.userPet {
	height: 400px;
}

.userPet,
.petListCard {
	background: var(--clr-white);
	border-radius: 25px;
	box-shadow: var(--shadow);
	padding: 50px;
}

.petListCard {
	margin-bottom: 40px;
	margin-right: 20px;
	margin-left: 20px;
	width: 25%;
	height: 600px;
}

.petListTextBox {
	padding: 40px 0 0 0;
	border-top: 0;
	overflow-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.petListPictureContainer {
	position: relative;
	overflow: hidden;
	background: var(--clr-brown);
	height: 250px;
}

.petListPicture {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
	max-height: 150%;
	max-width: 150%;
}

.userPetContainer {
	padding: 0 0 30px 0;
	width: 100%;
}

.userPetContainer,
.petProfileContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.petProfileContainer {
	padding-top: 120px;
}

.userPet,
.petProfileCard {
	background: var(--clr-white);
	border-radius: var(--radius);
	display: flex;
	padding: 50px;
	justify-content: center;
}

.userPet,
.petProfileCard {
	box-shadow: var(--shadow);
}

.petProfileCard {
	width: 70%;
}

.userPet {
	width: 70%;
}

.petProfileCardInner {
	min-height: 600px;
}

.userPetInner,
.petProfileCardInner {
	display: flex;
	width: 100%;
	min-height: 600px;
}

.userPetPictureContainer,
.petProfilePictureContainer {
	position: relative;
	overflow: hidden;
	background: var(--clr-brown);
	width: 50%;
	position: relative;
}

.petProfilePictureContainer {
	min-height: 600px;
}

.userPetPicture,
.petProfilePicture {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
	max-height: 150%;
	max-width: 150%;
}

.userPetTextBox,
.petProfileTextBox {
	padding: 0 0 0 40px;
	border-left: 0;
	min-height: 300px;
	width: 50%;
	overflow-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.petProfileMap {
	height: 250px;
}

.petStatus {
	font: 500 15px/1.2 'Poppins', sans-serif;
	text-transform: uppercase;
	border: 1px solid var(--clr-black);
	padding: 10px;
	width: fit-content;
}

.petSpecies {
	font: 700 32px/1.2 'Poppins', sans-serif;
	font-size: 35px;
	margin: 40px 0 30px 0;
	text-transform: capitalize;
	overflow-wrap: anywhere;
	padding: 30px 0 15px 0;
}

.petMainInfo,
.petOptionalInfo {
	margin: 10px 0;
	font: var(--font-thin);
	overflow-wrap: break-word;
	line-height: 30px;
}

.table {
	width: 100%;
}

.tableCell {
	overflow-wrap: anywhere;
}

.tableCell:first-child {
	font: 600 15px/1.2 'Poppins', sans-serif;
	text-transform: capitalize;
	width: 105px;
}

.petProfileButton {
	font: var(--font-standard);
	margin: 10px 0;
	cursor: pointer;
	width: 100%;
	padding: 15px;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0 40px 0;
	width: 100%;
}

.paginationNumbers {
	border-radius: var(--radius-circle);
	text-align: center;
	padding: 20px;
	color: var(--clr-green);
	border: 2px solid var(--clr-green);
	margin: 0 7px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.paginationNumbers:hover {
	background: var(--clr-green);
	border: 2px solid var(--clr-green);
	color: var(--clr-aquamarine);
	transition: background 0.2s linear;
}

.imageUploadContainer {
	border: 4px dashed var(--clr-darkgreen);
	justify-content: center;
	align-items: center;
	position: relative;
	height: 450px;
	overflow: hidden;
	background: var(--clr-white);
}

.imageUploadContainer:hover {
	background: var(--clr-lightaquamarine);
	transition: background 0.2s linear;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile,
.inputLabel {
	font: var(--font-input);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	text-align: center;
	height: 450px;
}

.previewContainer {
	position: relative;
	height: 450px;
	overflow: hidden;
	width: 100%;
}

.previewImage {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
	max-height: 150%;
	max-width: 150%;
}

.filterBox {
	padding: 0 0 45px;
}

.radioList {
	display: flex;
	flex-flow: row wrap;
}

.checkboxOption,
.radioButtonOption {
	margin-top: 15px;
}

ul li {
	position: relative;
	display: flex;
	z-index: 1;
}

ul li input[type='radio'] {
	position: absolute;
	visibility: hidden;
}

ul li input[type='checkbox'] {
	position: absolute;
	visibility: hidden;
}

ul li label {
	display: block;
	position: relative;
	padding: 5px 0 5px 45px;
	z-index: 9;
	width: 103px;
	cursor: pointer;
	transition: all 0.2s linear;
}

ul li:hover label {
	color: var(--clr-green);
}

ul li .radioCheck {
	display: block;
	position: absolute;
	border: 2px solid;
	border-radius: var(--radius-circle);
	height: 20px;
	width: 20px;
	top: 0;
	z-index: 5;
	transition: border 0.2s linear;
}

ul li .checkboxCheck {
	display: block;
	position: absolute;
	border: 2px solid;
	height: 20px;
	width: 20px;
	top: 0;
	z-index: 5;
	transition: border 0.2s linear;
}

ul li:hover .radioCheck {
	border: 2px solid var(--clr-green);
}

ul li:hover .checkboxCheck {
	border: 2px solid var(--clr-green);
}

ul li .radioCheck::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: var(--radius-circle);
	height: 10px;
	width: 10px;
	top: 5px;
	left: 5px;
	margin: auto;
	transition: background 0.2s linear;
}

ul li .checkboxCheck::before {
	display: block;
	position: absolute;
	content: '';
	margin: auto;
}

input[type='radio']:checked ~ .radioCheck {
	border: 2px solid;
}

input[type='checkbox']:checked ~ .checkboxCheck {
	border: 2px solid;
}

input[type='radio']:checked ~ .radioCheck::before {
	background: var(--clr-black);
}

input[type='checkbox']:checked ~ .checkboxCheck::before {
	left: 6px;
	width: 5px;
	height: 11px;
	border: solid var(--clr-black);
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
}

input[type='radio']:checked ~ label {
	color: var(--clr-black);
}

input[type='checkbox']:checked ~ label {
	color: var(--clr-black);
}

.bigCheckboxContainer,
.checkboxContainer {
	position: relative;
	padding-left: 50px;
	margin-bottom: 25px;
	cursor: pointer;
	font-size: 25px;
	user-select: none;
	align-items: center;
	display: flex;
	justify-content: end;
}

.bigCheckboxContainer {
	margin-left: 20px;
}

.bigCheckboxContainer input,
.checkboxContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	height: 30px;
	width: 30px;
}

.bigCheckmark {
	height: 45px;
	width: 45px;
}

.checkmark,
.bigCheckmark {
	position: absolute;
	top: 0;
	border: 2px solid var(--clr-brown);
	padding: 3px;
	background: var(--clr-lightbrown);
	border-radius: var(--radius-button);
}

.checkboxContainer:hover input ~ .checkmark,
.bigCheckboxContainer:hover input ~ .bigCheckmark {
	background-color: var(--clr-green);
	border: 2px solid var(--clr-green);
	border-radius: var(--radius-button);
}

.checkboxContainer input:checked ~ .checkmark,
.bigCheckboxContainer input:checked ~ .bigCheckmark {
	background-color: var(--clr-darkgreen);
	border: 2px solid var(--clr-darkgreen);
	border-radius: var(--radius-button);
}

.checkmark:after,
.bigCheckmark:after {
	content: '';
	position: absolute;
	display: none;
}

.checkboxContainer input:checked ~ .checkmark:after,
.bigCheckboxContainer input:checked ~ .bigCheckmark:after {
	display: block;
}

.checkboxContainer .checkmark:after {
	left: 12px;
	top: 4px;
	width: 9px;
	height: 18px;
	border: solid var(--clr-white);
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.bigCheckboxContainer .bigCheckmark:after {
	left: 18px;
	top: 6px;
	width: 12.5px;
	height: 25px;
	border: solid var(--clr-white);
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.logoBox {
	padding: 25px;
	border: 4px solid var(--clr-white);
	border-radius: var(--radius-circle);
	width: 30px;
	height: 30px;
	margin: auto;
}

.logo {
	fill: var(--clr-white);
}

.navBackLink {
	text-decoration: none;
}

.navBackText {
	height: fit-content;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	color: var(--clr-white);
	font: 300 15px/1.2 'Poppins', sans-serif;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.navBackArrow {
	fill: var(--clr-white);
	transform: scaleX(-1);
	width: 18px;
	height: 18px;
	padding-left: 10px;
}

.fade-in {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: brightness(90%);
	transition: opacity 1s ease-in-out;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.fade-out {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	object-fit: cover;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: brightness(90%);
	transition: opacity 1s ease-in-out;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.signUpContainer,
.loginContainer {
	filter: brightness(90%);
	position: absolute;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--font-family);
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.logoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.searchFormSection,
.formSection {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.formSection {
	padding: 140px 90px 90px 90px;
}

.searchFormSection {
	padding: 0px 0px 90px 0px;
}

.formBox {
	width: 40%;
	background: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	padding: 50px;
	height: fit-content;
}

.searchFormBox {
	width: 80%;
}

.loginFormBox,
.signUpFormBox {
	background: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	padding: 50px;
	height: fit-content;
	width: 30%;
	min-width: 400px;
}

.formHeadline {
	font: var(--font-formheadline);
	padding-bottom: 15px;
	color: var(--clr-darkgreen);
}

.loginText,
.signUpText {
	font: 400 15px / 1.2 Poppins, sans-serif;
	display: flex;
}

.acceptedPasswordTextActive,
.acceptedPasswordText {
	padding-top: 20px;
	font: 400 15px / 1.2 Poppins, sans-serif;
	font-style: italic;
}

.acceptedPasswordTextActive {
	color: var(--clr-darkgreen);
}

.acceptedPasswordText {
	color: var(--clr-brown);
}

.message {
	height: 30px;
	padding-top: 10px;
	font: 400 15px / 1.2 Poppins, sans-serif;
}

.messagePetReport {
	height: 30px;
	padding-top: 20px;
	font: 400 15px / 1.2 Poppins, sans-serif;
	text-align: center;
}

.errorMessage {
	color: var(--clr-error);
}

.successMessage {
	color: var(--clr-success);
}

.inputBox,
.searchBox {
	display: flex;
	width: 100%;
}

.showInputs {
	transition: height 300ms ease-in-out, opacity 700ms ease-in-out;
}

.hideInputs {
	height: 0px;
	opacity: 0;
	z-index: -1000;
	width: 0px;
}

/* Buttons */
.optionalButton {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
	background: var(--clr-white);
	box-shadow: 0px 12px 12px -12px rgb(0 0 0 / 50%);
}

.backButtonContainer {
	display: flex;
	justify-content: center;
}

.backButtonBox {
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 100px;
	width: 70%;
}

.backButton {
	background: var(--clr-darkgreen);
	padding: 20px;
	border-radius: var(--radius-button);
	color: var(--clr-white);
	cursor: pointer;
	border: none;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	z-index: 1;
}

.deleteAllButtonBox {
	display: flex;
	justify-content: end;
}

.deletePetButtonInvisible {
	border: none;
	margin-top: 40px;
	padding: 20px;
	text-transform: uppercase;
	border-radius: var(--radius-button);
	width: 100%;
	visibility: unset;
	display: flex;
	height: 60px;
	opacity: 0;
}

#loaderButtonContainer {
	height: 20px;
	width: 20px;
	padding-right: 15px;
}

.deleteAllButtonText {
	height: 25px;
}

.deletePetButton,
.deletePetButtonInactive {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.deletePetButton,
.deletePetButtonInactive,
.optionalButton,
.formButton,
.formButtonInactive {
	width: 100%;
}

.deletePetButtonInactive,
.deletePetButton,
.deleteAllButtonInactive,
.deleteAllButton,
.optionalButton,
.formButton,
.formButtonInactive,
.deleteTextButtonInactive {
	border: none;
	text-transform: uppercase;
	z-index: 1;
}

.deletePetButtonInactive,
.deletePetButton,
.optionalButton,
.formButton,
.formButtonInactive,
.deleteTextButtonInactive {
	margin-top: 40px;
}

.deletePetButtonInactive,
.deletePetButton,
.deleteAllButtonInactive,
.deleteAllButton,
.formButtonInactive,
.deleteTextButtonInactive,
.formButton,
.deleteTextButton {
	padding: 20px;
	border-radius: var(--radius-button);
	color: var(--clr-white);
	border: none;
}

.deletePetButtonInactive,
.deleteAllButtonInactive,
.deleteTextButtonInactive,
.formButtonInactive {
	background: var(--clr-brown);
}

.deletePetButton,
.deleteAllButton,
.deleteTextButton,
.formButton,
.optionalButton {
	cursor: pointer;
}

.deletePetButton,
.deleteAllButton,
.deleteTextButton,
.formButton {
	background: var(--clr-darkgreen);
}

.backButton:hover,
.deletePetButton:hover,
.deleteAllButton:hover,
.formButton:hover,
.deleteTextButton:hover {
	background: var(--clr-green);
}

.deleteButton {
	border-radius: var(--radius-button);
	background: var(--clr-darkgreen);
	color: var(--clr-white);
	width: 60px;
	height: 60px;
	border: none;
	cursor: pointer;
	z-index: 4;
	font: var(--font-standard);
	position: absolute;
	fill: var(--clr-white);
}

.changePictureButton {
	border-radius: var(--radius);
	background: var(--clr-darkgreen);
	color: var(--clr-white);
	width: 60px;
	height: 60px;
	border: none;
	cursor: pointer;
	z-index: 4;
	font: var(--font-standard);
	position: absolute;
	top: 0;
	right: 70px;
}

.deleteButton:hover,
.changePictureButton:hover {
	background: var(--clr-green);
}

.formLabel {
	fill: var(--clr-darkgreen);
}

.showHidePassword {
	fill: var(--clr-brown);
	cursor: pointer;
	background: none;
}

.showHidePassword,
.formLabel {
	padding: 22px;
}

.showHidePassword:hover {
	fill: var(--clr-darkgreen);
	transition: fill 0.2s linear;
}

.arrowUp,
.arrowDown {
	padding: 16px 0 16px 16px;
}

.arrowDown {
	transform: scaleY(-1);
	transition: transform 0.2s linear;
}

.arrowUp {
	transform: scaleY(1);
	transition: transform 0.2s linear;
}

.searchButton {
	padding: 18px;
}

.showHidePassword,
.searchButton,
.formLabel {
	width: fit-content;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid var(--clr-darkgreen);
}

.searchButton {
	background: none;
	fill: var(--clr-brown);
}

.formInput {
	padding: 22px 0;
	width: 100%;
	border-bottom: 2px solid var(--clr-darkgreen);
	border-top: none;
	border-left: none;
	border-right: none;
	background: none;
	font: var(--font-thin);
}

.formInput:focus {
	outline: none;
}

.formInput:invalid {
	box-shadow: none;
}

.formLink {
	text-decoration: none;
	color: var(--clr-green);
	padding-left: 5px;
}

.formLink:hover {
	color: var(--clr-darkgreen);
}

#loaderContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--clr-lightbrown);
}

#loader {
	height: 95px;
	width: 95px;
}

.paw {
	animation-name: load;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	transition: load 3s linear;
}

#firstDigitalPad {
	animation-delay: 0.1s;
}

#secondDigitalPad {
	animation-delay: 0.2s;
}

#thirdDigitalPad {
	animation-delay: 0.3s;
}

#forthDigitalPad {
	animation-delay: 0.4s;
}

@keyframes load {
	0% {
		visibility: visible;
		opacity: 0;
	}
	25% {
		visibility: visible;
		opacity: 1;
	}
	75% {
		visibility: hidden;
		opacity: 1;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}

@keyframes load {
	0% {
		visibility: visible;
		opacity: 0;
	}
	25% {
		visibility: visible;
		opacity: 1;
	}
	75% {
		visibility: hidden;
		opacity: 1;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}

.categoryHeadline {
	padding: 45px 0px 15px;
}

body.modalActive {
	overflow-y: hidden;
}

.modalStyle,
.modalOverlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

.modalStyle {
	z-index: 2;
}

.modalOverlay {
	background: rgba(49, 49, 49, 0.8);
	z-index: 4;
}

.modalContent {
	position: absolute;
	font: var(--font-modal);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--clr-white);
	border-radius: var(--radius);
	padding: 80px;
	width: 20%;
	min-width: 100px;
	cursor: pointer;
	z-index: 22;
}

.modalClose {
	border-radius: var(--radius-button);
	background: var(--clr-darkgreen);
	color: var(--clr-white);
	width: 60px;
	height: 60px;
	border: none;
	cursor: pointer;
	z-index: 4;
	font: var(--font-standard);
	position: absolute;
	top: 25px;
	right: 25px;
	fill: var(--clr-white);
}

.modalClose:hover {
	background: var(--clr-green);
}

.petReportMap {
	height: 250px;
}

.mapboxgl-ctrl-geocoder .suggestions > .active > a,
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
	width: 100%;
}

.mapboxgl-ctrl-geocoder--input {
	padding: 25px 40px !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
	width: 28px !important;
	height: 35px !important;
}
.mapboxgl-ctrl-geocoder {
	width: 300px !important;
}
.mapboxgl-ctrl-geocoder--icon,
.mapboxgl-ctrl-geocoder--icon-search {
	fill: var(--clr-brown) !important;
}

.mapboxgl-ctrl-geocoder--icon-close {
	margin-top: 10px !important;
}

.locationContainer {
	position: relative;
	width: 100%;
	padding: 22px 0;
}

.locationSuggestionContainer {
	position: absolute;
	width: inherit;
	border-bottom: solid 1px var(--clr-brown);
}

.locationInput {
	padding-right: 18px !important;
}

.locationSuggestion {
	margin: 0;
	padding: 12px 18px 12px 18px;
	background: var(--clr-white);
	border-top: solid 1px var(--clr-brown);
	border-right: solid 1px var(--clr-brown);
	border-left: solid 1px var(--clr-brown);
}

.locationSuggestion:hover {
	background-color: var(--clr-lightbrown);
	cursor: pointer;
}

.locationSuggestionText {
	font-size: 13px;
}

.locationSuggestionName {
	color: var(--clr-darkbrown);
	padding-top: 8px;
	font-size: 13px;
}

@media only screen and (min-width: 100px) and (max-width: 850px) {
	.navLinkDesktop,
	.logOutButtonDesktop {
		display: none;
	}

	.navLinkMobile {
		color: var(--clr-white);
	}

	.logOutButtonMobile,
	.navLinkMobile {
		color: var(--clr-white);
		font: 400 25px/1.2 'Poppins', sans-serif;
		z-index: 0;
	}

	#reportPetLink {
		z-index: 0;
	}

	.modalStyle,
	.modalOverlay {
		position: unset;
	}

	.modalContent {
		z-index: 4;
	}

	.navList:hover {
		color: var(--clr-darkgreen);
	}

	.navMainList {
		display: none;
	}

	.navLogo {
		z-index: 2;
	}

	.navMainListMobile {
		background: var(--clr-darkgreen);
		width: 100vw;
		position: fixed;
		z-index: 1;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
		align-items: center;
	}

	.hamburger {
		cursor: pointer;
		display: block;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		margin-left: 10px;
		z-index: 10;
	}

	body.burgerOverflow {
		overflow-y: hidden;
	}

	.burgerActive,
	.burgerInactive {
		background: var(--clr-white);
		margin: 6px auto;
		width: 27px;
		height: 4px;
		transition: all 0.3s ease-in-out;
	}

	.burgerActive:nth-child(1) {
		transform: translateY(10px) rotate(45deg);
	}

	.burgerActive:nth-child(2) {
		opacity: 0;
	}

	.burgerActive:nth-child(3) {
		transform: translateY(-10px) rotate(-45deg);
	}

	.burgerActive,
	.burgerInactive {
		transition: all 0.3s ease-in-out;
	}

	.userPetPictureContainer {
		height: 300px;
	}
}

@media only screen and (min-width: 100px) and (max-width: 400px) {
	.loginContainer,
	.signUpContainer {
		flex-direction: column-reverse;
		padding: unset;
	}

	.loginContainer {
		margin-top: 60px;
	}

	.userPet,
	.petProfileCard,
	.petListCard {
		padding: 0;
		border-radius: var(--radius);
	}

	.petProfileCard,
	.petListCard {
		width: 80%;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer,
	.petListPictureContainer {
		border-radius: 25px 25px 0 0;
	}

	.userPetTextBox,
	.petProfileTextBox,
	.petListTextBox {
		border: none;
		padding: 25px;
	}

	.formButtonInactive,
	.deleteTextButtonInactive,
	.formButton,
	.deleteTextButton,
	.backButton {
		border-radius: var(--radius-button);
	}

	.userPetInner,
	.petProfileCardInner {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: unset;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;
	}

	.userPetPictureContainer {
		height: 300px;
	}

	.petProfilePictureContainer {
		height: 500px;
	}

	.userPetTextBox,
	.petProfileTextBox {
		width: auto;
	}

	.backButtonBox {
		display: unset;
		justify-content: unset;
		padding-left: 0;
		width: auto;
		width: 70%;
	}

	.backButton {
		width: 100%;
	}

	.selectBox {
		width: unset;
		padding: 20px;
	}

	.sidebarList {
		padding-top: 25px;
	}

	.sidebar {
		width: unset;
		padding: unset;
	}

	.formBox {
		width: 100%;
	}

	.landingPageHeadline {
		font: var(--font-landingpage-mobile);
		top: 50%;
		left: 5%;
		right: 5%;
		padding: 10px;
	}

	.footerText {
		position: absolute;
	}

	.landingPageVideo {
		min-height: 800px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
	.loginContainer,
	.signUpContainer {
		flex-direction: column-reverse;
		padding: unset;
	}

	.loginContainer {
		margin-top: -10px;
	}

	.landingPageVideo,
	.fade-in1,
	.fade-in2,
	.fade-out1,
	.fade-out2 {
		min-height: 950px;
	}

	.userPet,
	.petProfileCard,
	.petListCard {
		padding: 0;
		border-radius: var(--radius);
		min-height: 640px !important;
	}

	.petProfileCard,
	.petListCard {
		width: 80%;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer,
	.petListPictureContainer {
		border-radius: 25px 25px 0 0;
	}

	.userPetTextBox,
	.petProfileTextBox,
	.petListTextBox {
		border: none;
		padding: 50px 25px 25px 25px;
	}

	.formButtonInactive,
	.deleteTextButtonInactive,
	.formButton,
	.deleteTextButton,
	.backButton {
		border-radius: var(--radius-button);
	}

	.userPetInner,
	.petProfileCardInner {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: unset;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;
	}

	.userPetPictureContainer {
		height: 300px;
	}

	.petProfilePictureContainer {
		height: 500px;
	}

	.userPetTextBox,
	.petProfileTextBox {
		width: auto;
	}

	.backButtonBox {
		display: unset;
		justify-content: unset;
		padding-left: 0;
		width: auto;
		width: 70%;
	}

	.backButton {
		width: 100%;
	}

	.bigCheckboxContainer {
		padding-right: 25px;
	}

	.selectBox {
		width: 70%;
		padding: unset;
		display: flex;
		flex-direction: row;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.sidebarList {
		padding-top: 25px;
	}

	.sidebar {
		width: 70%;
		padding: unset;
	}

	.formBox {
		width: 100%;
	}

	.landingPageHeadline {
		font: var(--font-landingpage-mobile);
		top: 50%;
		left: 5%;
		right: 5%;
		padding: 10px;
	}

	.landingPageVideo {
		min-height: 700px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.loginContainer,
	.signUpContainer {
		flex-direction: column-reverse;
		padding: unset;
	}

	.userPetInner,
	.petProfileCardInner {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: unset;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;
	}

	.petProfilePictureContainer {
		height: 500px;
	}

	.userPetTextBox,
	.petProfileTextBox {
		width: auto;
	}

	.selectBox {
		display: flex;
		flex-direction: row;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
	.userPet,
	.petProfileCard,
	.petListCard {
		padding: 50px;
		width: 70%;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer,
	.petListPictureContainer {
		border: none;
	}

	.userPetTextBox,
	.petProfileTextBox,
	.petListTextBox {
		border: none;
		padding: 50px 0 0;
	}

	.userPetInner,
	.petProfileCardInner {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: unset;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;
	}

	.petProfilePictureContainer {
		height: 500px;
	}

	.userPetTextBox,
	.petProfileTextBox {
		width: auto;
	}

	.backButtonBox {
		display: unset;
		justify-content: unset;
		padding-left: 0;
		width: auto;
		width: 70%;
	}

	.backButton {
		width: 100%;
	}

	.sidebar {
		width: 70%;
		display: flex;
		justify-content: center;
		padding: 46px;
	}

	.searchFormBox {
		width: 70%;
	}
}

@media only screen and (min-width: 851px) {
	.navLinkDesktop,
	.logOutButtonDesktop {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#reportPetLink {
		z-index: 1;
	}

	.navMainList {
		flex-wrap: unset;
	}
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
	.formBox {
		width: 90%;
	}
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
	.formBox {
		width: 80%;
	}
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
	.formBox {
		width: 70%;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
	.formBox {
		width: 55%;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
	.formBox {
		width: 40%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.userPetInner,
	.petProfileCardInner {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: unset;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		width: 100%;
	}

	.userPetTextBox,
	.petProfileTextBox {
		width: 100%;
		padding: 40px 0 0 0;
	}

	.sidebar {
		width: 70%;
		display: flex;
		justify-content: center;
		padding: 46px;
	}
}

@media only screen and (min-width: 800px) and (max-width: 2100px) {
	.searchFormBox {
		width: 70%;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 2100px) {
	.userPet,
	.petProfileCard,
	.petListCard {
		padding: 50px;
		width: 20%;
	}

	.userPet,
	.petProfileCard {
		padding: 50px;
		width: 70%;
	}

	.userPetInner,
	.petProfileCardInner {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: unset;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		width: 100%;
	}

	.userPetTextBox,
	.petProfileTextBox {
		width: 100%;
	}

	.searchFormBox {
		width: 50%;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 2100px) {
	.petListCard {
		padding: 50px;
		width: 15%;
		height: 600px;
	}

	.userPet,
	.petProfileCard {
		padding: 50px;
	}
}

@media only screen and (min-width: 2100px) {
	.userPet,
	.petProfileCard,
	.petListCard {
		padding: 50px;
		width: 12%;
	}

	.userPetInner,
	.petProfileCardInner {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: unset;
	}

	.userPetPictureContainer,
	.petProfilePictureContainer {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		width: 100%;
	}

	.userPetTextBox,
	.petProfileTextBox {
		width: 100%;
	}
}

@media only screen and (min-width: 100px) and (max-width: 1024px) {
	.loginFormBox,
	.signUpFormBox {
		width: 60%;
		min-width: unset;
		display: flex;
		flex-direction: column;
	}

	.logoContainer {
		padding-top: 25px;
	}

	.loginText,
	.signUpText {
		flex-direction: column;
	}

	.formLink {
		padding: unset;
	}

	.formLabel {
		display: none;
	}

	.sidebarListElement {
		width: 60%;
	}

	.dashboardContainer {
		flex-direction: column;
	}

	.dashboardBox,
	.dashboardSidebar {
		width: unset;
	}

	.signUpContainer,
	.loginContainer {
		top: 10px;
		left: unset;
		transform: unset;
	}

	.fade-in1,
	.fade-in2,
	.fade-out1,
	.fade-out2 {
		min-height: 1600px;
	}
}

@media only screen and (min-width: 1025px) {
	.footerWithPicture {
		min-height: unset;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	.fade-in1,
	.fade-in2,
	.fade-out1,
	.fade-out2 {
		min-height: 950px;
	}

	.signUpContainer,
	.loginContainer {
		padding-top: 20px;
		width: 100vw;
		top: unset;
		left: unset;
		transform: unset;
	}
}
