@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NAVBAR */
.navLogo {
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  color: rgb(183, 223, 219);
  border: 2px solid transparent;
  border-radius: 100%;
}

.navLogoInner {
  height: 20px;
  fill: rgb(183, 223, 219);
}

.navLogo:hover {
  margin: 10px;
  border: 2px solid rgb(183, 223, 219);
  border-radius: 100%;
  transition: border 0.2s linear;
}

.navLogoInner:after {
  display: block;
  content: '';
  border-bottom: solid 2px rgb(183, 223, 219); 
  transform: scaleX(0);  
  transition: transform 0.2s linear;
}

.username {
  text-align: center;
  padding: 22.5px;
  text-decoration: none;
  color: #fff;
  font: 400 15px/1.2 'Poppins', sans-serif;
  display: inline-block; 
}

.navLink {
  text-align: center;
  padding: 22.5px;
  text-decoration: none;
  color: rgb(183, 223, 219);
  font: 300 15px/1.2 'Poppins', sans-serif;
  display: inline-block; 
}

.navLink:after {
  display: block;
  content: '';
  border-bottom: solid 2px rgb(183, 223, 219); 
  transform: scaleX(0);  
  transition: transform 180ms ease-in-out;
}

.navLink:hover:after {
  transform: scaleX(1);
}

.logOutButton {
  text-align: center;
  padding: 22.5px;

  text-decoration: none;
  font: 400 15px/1.2 'Poppins', sans-serif;
  display: inline-block; 
  cursor: pointer;
  color: rgb(34, 102, 96);
  border: none;
  background: rgb(71, 163, 156);
}

.logOutButton:hover {
  background: rgb(183, 223, 219);
  transition: background 0.2s linear;
}

/* Lost & Found - PetSearch */
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Landing Page */
.landingPageBox {
  z-index: 2;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPageHeadline {
  font: 700 62px/1.2 'Poppins', sans-serif;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 10%;
}

.landingPageVideo {
  position: absolute; 
  width: 100%; 
  left: 50%; 
  top: 50%; 
  height: 100%; 
  object-fit: cover; 
  transform: translate(-50%, -50%); 
  z-index: -1;
}

/* Lost & Found - PetList */
.lostAndFoundHeadline {
  font: 700 38px/1.2 'Poppins', sans-serif;
  display: flex;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
}

.petContainer {
	display: flex;
	flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.petCard {
	width: 20%;
  background: rgba(255,255,255); 
  margin-bottom: 60px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 50px;
  border-radius: 25px; 
  box-shadow: 7px 12px 24px -8px rgba(0,0,0,0.40);
} 

.petCard:nth-child(even) {
  background: rgba(255,255,255); 
}

.petCard:nth-child(odd) {
  background: rgba(255,255,255); 
}

.petTextBox {
  flex: 50%;
  padding: 40px;
  background: #ebebeb; 
}

.petListPicture {
  flex: 50%;
  padding: 40px;
  background: #aaaaaa;
}

/* note: set the colors for lost and found - 1-1 color/status */
.petStatus {
  font: 500 15px/1.2;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 10px;
  width: fit-content;
}

.petSpecies {
  font: 700 32px/1.2 'Poppins', sans-serif;
  font-size: 35px;
  margin: 40px 0 30px 0;
  text-transform: capitalize;
}

.petId {
  margin: 10px 0;
  font: 300 15px/1.2 'Poppins', sans-serif;
}

.petDate {
  margin: 10px 0;
  font: 300 15px/1.2 'Poppins', sans-serif;
}

.petPlace {
  flex-direction: row;
  margin: 10px 0;
  font: 300 15px/1.2 'Poppins', sans-serif;
}

.petProfileButton {
  margin: 10px 0;
  font: 400 15px/1.2 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

/* Pagination buttons */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  width: 100%;
}

.paginationNumbers {
  padding: 20px; 
  background: rgba(255,255,255,0.7);
  margin: 0 7px;
  text-align: center;
  width: 15px; 
  cursor: pointer;
  border-radius: 30px;
}

/* Report - Picture */
.petPicture {
  cursor: pointer; 
  position: relative;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.imageUploadContainer {
  border: 3px dashed rgb(34 102 96); 
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
  overflow: hidden;
  background: rgba(183, 223, 219, 0.2);
}


/* TEST */
.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile,
.inputLabel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 28px/1.2 "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
}

/* .inputfile:focus,
.inputLabel:focus,
.inputfile:hover,
.inputLabel:hover {
  background: #fff;
} */

.previewContainer {
  position: relative;
  height: 450px;
  overflow: hidden;
  width: 100%;
  /* z-index: 3; */
}

.previewImage {
  position: absolute;
  top: 50%;    
  left: 50%;
  right: 50%;
  margin: auto;
  transform: translate( -50%, -50%);
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-height: 150%;
  max-width: 150%;
  /* z-index: 3; */

}


.filterBox {
  padding: 0 0 45px;
}

/* CHANGE THE UL LI TO CLASSES!*/
.radioList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.checkboxOption,
.radioButtonOption {
  margin-top: 15px;
}

ul li{
  position: relative;
  display: flex;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li input[type=checkbox]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  padding: 5px 0 5px 40px;
  z-index: 9;
  width: 85px;
  cursor: pointer;
  transition: all 0.2s linear;
}

ul li:hover label{
	color: rgb(71, 163, 156);
}

ul li .radioCheck{
  display: block;
  position: absolute;
  border: 2px solid;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 0;
  z-index: 5;
  transition: border 0.2s linear;
}

ul li .checkboxCheck{
  display: block;
  position: absolute;
  border: 2px solid;
  height: 20px;
  width: 20px;
  top: 0;
  z-index: 5;
  transition: border 0.2s linear;
}

ul li:hover .radioCheck {
  border: 2px solid #47a39c;
}

ul li:hover .checkboxCheck {
  border: 2px solid #47a39c;
}

ul li .radioCheck::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.2s linear;
}

ul li .checkboxCheck::before {
  display: block;
  position: absolute;
	content: '';
  margin: auto; 
}

/* Radio & Checkbox Inputs */
input[type=radio]:checked ~ .radioCheck {
  border: 2px solid;
}

input[type=checkbox]:checked ~ .checkboxCheck {
  border: 2px solid;
}

input[type=radio]:checked ~ .radioCheck::before{
  background: #000;
}

input[type=checkbox]:checked ~ .checkboxCheck::before{
  left: 6px;
  width: 5px;
  height: 11px;
  border: solid #000;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

input[type=radio]:checked ~ label{
  color: #000;
}

input[type=checkbox]:checked ~ label{
  color: #000;
}

/* BACKGROUND FOR LOGIN/REGISTRATION */
.fade-in1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%); 
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-out1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%); 
  transition: opacity 1s ease-in-out;
}

.fade-in2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%);
  transition: opacity 1s ease-in-out;
}

.fade-out2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%);
  transition: opacity 1s ease-in-out;
}

/* LOGIN, REGISTRATION WITH LOGO */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formBox {
  background: rgba(255,255,255); 
  padding: 50px; 
  height: fit-content;
  width: 450px;
  border-radius: 25px; 
  box-shadow: 7px 12px 24px -8px rgba(0,0,0,0.40);
}

.formHeadline {
  font: 500 30px/1.2 'Poppins', sans-serif;
  padding-bottom: 30px;
  color: #226660;
}

.loginText,
.signUpText {
  font: 400 15px / 1.2 Poppins, sans-serif;
  display: flex;
}

.message {
  height: 30px;
  padding-top: 10px;
  font: 400 15px / 1.2 Poppins, sans-serif;
}

.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

.inputBox,
.searchBox {
  /* padding-top: 10px; */
  display: flex;
}

/* #region,
#search {
  text-transform: capitalize;
} */

.showInputs {
  /* display: block; */
	transition: height 300ms ease-in-out, opacity 700ms ease-in-out;
}

.hideInputs {
	height: 0;
	opacity: 0;
}

.optionalButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background: rgb(255,255,255);
  box-shadow: 0px 12px 12px -12px rgb(0 0 0 / 50%);
}

.optionalButton,
.formButton {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  width: 100%;
  margin-top: 40px;
  z-index: 1;
}

.formButton {
  padding: 20px;
  border-radius: 0.25rem;
  background: rgb(34, 102, 96);
  color: #fff;
  cursor: pointer;
  border: none;
  /* z-index: 2; */
}

.formButton:hover {
  background: rgb(71, 163, 156);
}

.deleteButton {
  border-radius: 0.25rem;
  background: rgb(34, 102, 96);
  color: #fff;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  z-index: 4;
  font: 400 15px/1.2 'Poppins', sans-serif;

  position: absolute;
  top: 0;
  right: 0;
  fill: #fff;
}

.changePictureButton {
  border-radius: 0.25rem;
  background: rgb(34, 102, 96);
  color: #fff;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  z-index: 4;
  font: 400 15px/1.2 'Poppins', sans-serif;

  position: absolute;
  top: 0;
  right: 70px;
}

.deleteButton:hover,
.changePictureButton:hover {
  background: rgb(71, 163, 156);
}

.formLabel {
  fill: #226660;
}

.showHidePassword {
  fill:rgb(172, 172, 172);
  cursor: pointer;
  background: none;
}

.showHidePassword:hover {
  fill: #226660;
  transition: fill 0.2s linear;
}

.arrowDown {
  padding: 16px;
  transform: scaleY(-1);
}

.showHidePassword,
.searchButton,
.formLabel {  
  padding: 18px;
  width: fit-content;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(34, 102, 96);
}

.searchButton {
  cursor: pointer;
  background: none;
  fill: rgb(172, 172, 172);
}

.searchButton:hover {
  fill: rgb(34, 102, 96); 
  transition: fill 0.2s linear;
}

.formInput,
.searchInput {
  padding: 16px 0;
  width: 100%;
  border-bottom: 2px solid rgb(34, 102, 96);
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  font: 300 15px/1.2 'Poppins', sans-serif;
}

.formInput:focus,
.searchInput:focus {
  outline: none;
}

.formLink {
  text-decoration: none;
  color: rgb(71, 163, 156);
  padding-left: 5px;
}

.formLink:hover {
  color: rgb(34, 102, 96);
}


/* Paw Loader */
#loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: rgb(176, 240, 235);
}

#loader {
  height: 95px;
  width: 95px;
}

.paw {
  animation-name: load;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transition: load 3s linear;
}

#firstDigitalPad {
  animation-delay: 0.1s;
}

#secondDigitalPad {
  animation-delay: 0.2s;
}

#thirdDigitalPad {
  animation-delay: 0.3s;

}

#forthDigitalPad {
  animation-delay: 0.4s;

}

@keyframes load {
    0% {
      visibility: visible;
      opacity: 0
    }
    25% {
      visibility: visible;
      opacity: 1
    }
    75% {
      visibility: hidden;
      opacity: 1
    }
    100% {
      visibility: hidden;
      opacity: 0
    }
}

@keyframes load {
  0% {
    visibility: visible;
    opacity: 0
  }
  25% {
    visibility: visible;
    opacity: 1
  }
  75% {
    visibility: hidden;
    opacity: 1
  }
  100% {
    visibility: hidden;
    opacity: 0
  }
}


/* PET REPORT */
.categoryHeadline {
  padding: 45px 0px 15px;
}


/* PET REPORT - MAP */
.map-container {
  height: 450px;
}

.mapboxgl-ctrl-geocoder {
  display: flex;
  width: 400px !important;
  /* justify-content: space-between; */
}

.mapboxgl-ctrl-geocoder {
  width: 120% !important;
}

.mapboxgl-ctrl-geocoder--input {
  padding: unset !important;
  height: auto !important;
  width: unset !important;
  border-bottom: 2px solid rgb(34, 102, 96);
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  font: 300 15px/1.2 'Poppins', sans-serif !important;
  text-transform: capitalize;
}


.mapboxgl-ctrl-geocoder--icon,
.mapboxgl-ctrl-geocoder--icon-search {
  margin: 12px;
  width: 30px !important;
  height: 30px !important;
  /* margin: 0; */
  padding: 0;

  position: unset !important;

  cursor: pointer;
  background: none;
  fill: rgb(172, 172, 172) !important;

  /* padding: 18px; */
  /* width: fit-content; */
  /* border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(34, 102, 96); */
}

.mapboxgl-ctrl-geocoder--icon:hover,
.mapboxgl-ctrl-geocoder--icon-search:hover {
  fill: rgb(34, 102, 96); 
  transition: fill 0.2s linear;
}