@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NAVBAR, FOOTER */
.navigation {
  width: 100%;
  height: 70px;
  font: 400 15px/1.2 'Poppins', sans-serif;
  list-style-type: none;
  background: #226660;
  overflow: hidden;
  box-shadow: 7px 12px 24px -8px rgba(0,0,0,0.40);
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;  
}
  
.navMainList {
  flex-wrap: wrap;
  float: right;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
}

.navList {
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

.hamburger {
  display: none;
  z-index: 6;
} 

.footerWithPicture {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  color: #fff;
}

.footerWithoutPicture {
  background: rgb(176, 240, 235);
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  color: #226660;
}

.navLogo {
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  color: rgb(183, 223, 219);
  border: 2px solid transparent;
  border-radius: 100%;
}

.navLogoInner {
  height: 25px;
  fill: rgb(183, 223, 219);
}

.navLogo:hover {
  margin: 10px;
  border: 2px solid rgb(183, 223, 219);
  border-radius: 100%;
  transition: border 0.2s linear;
}

.navLogoInner:after {
  display: block;
  content: '';
  border-bottom: solid 2px rgb(183, 223, 219); 
  transform: scaleX(0);  
  transition: transform 0.2s linear;
}

.navPositionLeft {
  display: flex; 
  align-content: flex-start;
}

.navPositionRight {
  display: flex; 
  text-align: right;
}

.footerText,
.username,
.navLink {
  text-align: center;
  padding: 22.5px;
  text-decoration: none;
  font: 400 15px/1.2 'Poppins', sans-serif;
  display: inline-block; 
  padding-top: 25px;
}

.username {
  color: #fff;
}

.navLink {
  color: rgb(183, 223, 219);
}

.navLink:after {
  display: block;
  content: '';
  border-bottom: solid 2px rgb(183, 223, 219); 
  transform: scaleX(0);  
  transition: transform 180ms ease-in-out;
}

.navLink:hover:after {
  transform: scaleX(1);
}

.logOutButton {
  text-align: center;
  padding: 22.5px;
  text-decoration: none;
  font: 400 15px/1.2 'Poppins', sans-serif;
  display: inline-block; 
  cursor: pointer;
  color: rgb(34, 102, 96);
  border: none;
  background: rgb(71, 163, 156);
}

.logOutButton:hover {
  background: rgb(183, 223, 219);
  transition: background 0.2s linear;
}

/* Lost & Found - PetSearch */
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Landing Page */
.landingPageHeadline {
  font: 700 62px/1.2 'Poppins', sans-serif;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 10%;
}

.landingPageVideo {
  position: absolute; 
  width: 100%; 
  left: 50%; 
  top: 50%; 
  height: 100%; 
  object-fit: cover; 
  transform: translate(-50%, -50%); 
  z-index: -1;
}

/* PetProfile - PetProfileCard */
.petProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.petProfileCard {
  border-radius: 25px;  
  box-shadow: 7px 12px 24px -8px rgba(0,0,0,0.40);
  background: rgba(255,255,255);
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-height: 70%;
} 

.petProfileCardInner {
  display: flex;
  width: 100%;
  min-height: 600px;
}

.petProfilePictureContainer {
  position: relative;
  overflow: hidden;
  background: #aaaaaa; 
  width: 50%;
  position: relative;
  overflow: hidden;
}

.petProfilePicture {
  position: absolute;
  top: 50%;    
  left: 50%;
  right: 50%;
  margin: auto;
  transform: translate( -50%, -50%);
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-height: 150%;
  max-width: 150%;
}

.petProfileTextBox {
    padding: 40px;
    background: #ebebeb; 
    min-height: 300px;
    width: 50%;
    overflow-wrap: break-word;
}

/* Lost & Found - PetList */
.petMain {
  font-family: "Poppins", sans-serif;
  background: #B0F0EB;
  overflow: hidden;
}

.lostAndFoundHeadline {
  font: 700 38px/1.2 'Poppins', sans-serif;
  display: flex;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.petContainer {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}

.petCard {
  background: rgba(255,255,255); 
  margin-bottom: 60px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 50px;
  border-radius: 25px; 
  box-shadow: 7px 12px 24px -8px rgba(0,0,0,0.40);
} 

.petCard:nth-child(even) {
  background: rgba(255,255,255); 
}

.petCard:nth-child(odd) {
  background: rgba(255,255,255); 
}

.petTextBox {
  padding: 40px;
  background: #ebebeb; 
  min-height: 300px;
  overflow-wrap: break-word;
}

.petPictureContainer {
  position: relative;
  overflow: hidden;
  background: #aaaaaa;
  height: 350px;
}

.petPicture {
  position: absolute;
  top: 50%;    
  left: 50%;
  right: 50%;
  margin: auto;
  transform: translate( -50%, -50%);
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-height: 150%;
  max-width: 150%;
}

/* note: set the colors for lost and found - 1-1 color/status */
.petStatus {
  font: 500 15px/1.2 'Poppins', sans-serif;;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 10px;
  width: fit-content;
}

.petSpecies {
  font: 700 32px/1.2 'Poppins', sans-serif;
  font-size: 35px;
  margin: 40px 0 30px 0;
  text-transform: capitalize;
}

.petMainInfo,
.petOptionalInfo {
  margin: 10px 0;
  font: 300 15px/1.2 'Poppins', sans-serif;
  text-transform: capitalize;
  overflow-wrap: break-word;
  line-height: 30px;
}

.tableCell {
  padding-right: 20px;
  overflow-wrap: anywhere;
}

.tableCell:first-child { 
  font: 600 15px/1.2 'Poppins', sans-serif;
  width: 150px;
}

.petProfileButton {
  margin: 10px 0;
  font: 400 15px/1.2 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

/* Pagination buttons */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  width: 100%;
}

.paginationNumbers {
  padding: 20px; 
  background: rgba(255,255,255,0.7);
  margin: 0 7px;
  text-align: center;
  width: 15px; 
  cursor: pointer;
  border-radius: 30px;
}

/* Report - Picture */
.imageUploadContainer {
  border: 3px dashed rgb(34 102 96); 
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
  overflow: hidden;
  background: rgba(183, 223, 219, 0.2);
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile,
.inputLabel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 28px/1.2 "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

.previewContainer {
  position: relative;
  height: 450px;
  overflow: hidden;
  width: 100%;
}

.previewImage {
  position: absolute;
  top: 50%;    
  left: 50%;
  right: 50%;
  margin: auto;
  transform: translate( -50%, -50%);
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-height: 150%;
  max-width: 150%;
}


.filterBox {
  padding: 0 0 45px;
}

/* CHANGE THE UL LI TO CLASSES!*/
.radioList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.checkboxOption,
.radioButtonOption {
  margin-top: 15px;
}

ul li{
  position: relative;
  display: flex;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li input[type=checkbox]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  padding: 5px 0 5px 40px;
  z-index: 9;
  width: 85px;
  cursor: pointer;
  transition: all 0.2s linear;
}

ul li:hover label{
	color: rgb(71, 163, 156);
}

ul li .radioCheck{
  display: block;
  position: absolute;
  border: 2px solid;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 0;
  z-index: 5;
  transition: border 0.2s linear;
}

ul li .checkboxCheck{
  display: block;
  position: absolute;
  border: 2px solid;
  height: 20px;
  width: 20px;
  top: 0;
  z-index: 5;
  transition: border 0.2s linear;
}

ul li:hover .radioCheck {
  border: 2px solid #47a39c;
}

ul li:hover .checkboxCheck {
  border: 2px solid #47a39c;
}

ul li .radioCheck::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.2s linear;
}

ul li .checkboxCheck::before {
  display: block;
  position: absolute;
	content: '';
  margin: auto; 
}

/* Radio & Checkbox Inputs */
input[type=radio]:checked ~ .radioCheck {
  border: 2px solid;
}

input[type=checkbox]:checked ~ .checkboxCheck {
  border: 2px solid;
}

input[type=radio]:checked ~ .radioCheck::before{
  background: #000;
}

input[type=checkbox]:checked ~ .checkboxCheck::before{
  left: 6px;
  width: 5px;
  height: 11px;
  border: solid #000;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

input[type=radio]:checked ~ label{
  color: #000;
}

input[type=checkbox]:checked ~ label{
  color: #000;
}

/* BACKGROUND FOR LOGIN/REGISTRATION */
.fade-in1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%); 
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-out1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%); 
  transition: opacity 1s ease-in-out;
}

.fade-in2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%);
  transition: opacity 1s ease-in-out;
}

.fade-out2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%);
  transition: opacity 1s ease-in-out;
}

/* LOGIN, REGISTRATION WITH LOGO */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;

  /* justifyContent: center;
  flexDirection: column;
  width: fit-content;
  margin: 25px 100px; */
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formMain {
  font-family: "Poppins", sans-serif;
  background: #B0F0EB;
  overflow: hidden;
}

.formSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 90px;
}

.formBox {
  background: rgba(255,255,255); 
  padding: 50px; 
  height: fit-content;
  width: 30%;
  border-radius: 25px; 
  box-shadow: 7px 12px 24px -8px rgba(0,0,0,0.40);
}

.loginFormBox,
.registerFormBox {
  background: rgba(255,255,255); 
  padding: 50px; 
  height: fit-content;
  width: 30%;
  border-radius: 25px; 
  box-shadow: 7px 12px 24px -8px rgba(0,0,0,0.40);
  min-width: 400px;
}

.formHeadline {
  font: 500 30px/1.2 'Poppins', sans-serif;
  padding-bottom: 30px;
  color: #226660;
}

.loginText,
.signUpText {
  font: 400 15px / 1.2 Poppins, sans-serif;
  display: flex;
}

.acceptedPasswordText {
  padding-top: 20px;
  font: 400 14px / 1.2 Poppins, sans-serif;
  color: #acacac;
  font-style: italic;
}

.message {
  height: 30px;
  padding-top: 10px;
  font: 400 15px / 1.2 Poppins, sans-serif;
}

.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

.inputBox,
.searchBox {
  display: flex;
}

.showInputs {
	transition: height 300ms ease-in-out, opacity 700ms ease-in-out;
}

.hideInputs {
	height: 0px;
	opacity: 0;
  z-index: -1000;
  width: 0px;
}

.optionalButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background: rgb(255,255,255);
  box-shadow: 0px 12px 12px -12px rgb(0 0 0 / 50%);
}

.backButtonContainer {
  display: flex;
  justify-content: center;
}

.backButtonBox {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  width: 70%;
}

.backButton {
  background: none;
  background: rgb(34, 102, 96);
  padding: 20px;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  border: none;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  z-index: 1;
}

.optionalButton,
.formButton {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  width: 100%;
  margin-top: 40px;
  z-index: 1;
}

.formButton {
  padding: 20px;
  border-radius: 0.25rem;
  background: rgb(34, 102, 96);
  color: #fff;
  cursor: pointer;
  border: none;
}

.formButton:hover {
  background: rgb(71, 163, 156);
}

.deleteButton {
  border-radius: 0.25rem;
  background: rgb(34, 102, 96);
  color: #fff;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  z-index: 4;
  font: 400 15px/1.2 'Poppins', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  fill: #fff;
}

.changePictureButton {
  border-radius: 0.25rem;
  background: rgb(34, 102, 96);
  color: #fff;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  z-index: 4;
  font: 400 15px/1.2 'Poppins', sans-serif;
  position: absolute;
  top: 0;
  right: 70px;
}

.deleteButton:hover,
.changePictureButton:hover {
  background: rgb(71, 163, 156);
}

.formLabel {
  fill: #226660;
}

.showHidePassword {
  fill:rgb(172, 172, 172);
  cursor: pointer;
  background: none;
}

.showHidePassword:hover {
  fill: #226660;
  transition: fill 0.2s linear;
}

.arrowDown {
  padding: 16px;
  transform: scaleY(-1);
}

.showHidePassword,
.searchButton,
.formLabel {  
  padding: 18px;
  width: fit-content;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(34, 102, 96);
}

.searchButton {
  cursor: pointer;
  background: none;
  fill: rgb(172, 172, 172);
}

.searchButton:hover {
  fill: rgb(34, 102, 96); 
  transition: fill 0.2s linear;
}

.formInput,
.searchInput {
  padding: 16px 0;
  width: 100%;
  border-bottom: 2px solid rgb(34, 102, 96);
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  font: 300 15px/1.2 'Poppins', sans-serif;
}

.formInput:focus,
.searchInput:focus {
  outline: none;
}

.formLink {
  text-decoration: none;
  color: rgb(71, 163, 156);
  padding-left: 5px;
}

.formLink:hover {
  color: rgb(34, 102, 96);
}

/* Paw Loader */
#loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: rgb(176, 240, 235);
}

#loader {
  height: 95px;
  width: 95px;
}

.paw {
  animation-name: load;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transition: load 3s linear;
}

#firstDigitalPad {
  animation-delay: 0.1s;
}

#secondDigitalPad {
  animation-delay: 0.2s;
}

#thirdDigitalPad {
  animation-delay: 0.3s;

}

#forthDigitalPad {
  animation-delay: 0.4s;

}

@keyframes load {
    0% {
      visibility: visible;
      opacity: 0
    }
    25% {
      visibility: visible;
      opacity: 1
    }
    75% {
      visibility: hidden;
      opacity: 1
    }
    100% {
      visibility: hidden;
      opacity: 0
    }
}

@keyframes load {
  0% {
    visibility: visible;
    opacity: 0
  }
  25% {
    visibility: visible;
    opacity: 1
  }
  75% {
    visibility: hidden;
    opacity: 1
  }
  100% {
    visibility: hidden;
    opacity: 0
  }
}

/* PET REPORT */
.categoryHeadline {
  padding: 45px 0px 15px;
}

/* PET REPORT - MAP */
.map-container {
  height: 450px;
}

.mapboxgl-ctrl-geocoder {
  display: flex;
  width: 400px !important;
}

.mapboxgl-ctrl-geocoder {
  width: 120% !important;
}

.mapboxgl-ctrl-geocoder--input {
  padding: unset !important;
  height: auto !important;
  width: unset !important;
  border-bottom: 2px solid rgb(34, 102, 96);
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  font: 300 15px/1.2 'Poppins', sans-serif !important;
  text-transform: capitalize;
}

.mapboxgl-ctrl-geocoder--icon,
.mapboxgl-ctrl-geocoder--icon-search {
  margin: 12px;
  width: 30px !important;
  height: 30px !important;
  padding: 0;
  position: unset !important;
  cursor: pointer;
  background: none;
  fill: rgb(172, 172, 172) !important;
}

.mapboxgl-ctrl-geocoder--icon:hover,
.mapboxgl-ctrl-geocoder--icon-search:hover {
  fill: rgb(34, 102, 96); 
  transition: fill 0.2s linear;
}



/* Media Queries */


@media only screen and (min-width: 200px) and (max-width: 768px) {

  .navLink {
    color: #B0F0EB;
    font: 400 25px/1.2 'Poppins', sans-serif;
  }

  .navList:hover {
    color: #226660;
  }

  .navMainList {
    display: none;
  }

  .navMainListMobile {
    background: #226660;
    width: 100vw;
    margin-top: 69px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .hamburger {
    cursor: pointer;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 10;
  }

  .burgerActive,
  .burgerInactive {
    background: #B0F0EB;
    margin: 6px auto;
    width: 27px;
    height: 4px;
    transition: all 0.3s ease-in-out;
  } 

  .burgerActive:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .burgerActive:nth-child(2) {
    opacity: 0;
  }

  .burgerActive:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .burgerActive, 
  .burgerInactive {
    transition: all 0.3s ease-in-out;
  }

}

@media only screen and (min-width: 200px) and (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
    /* margin-top: 30px; */
    margin-top: 130px;
    padding: unset;
  }

  .loginFormBox, 
  .registerFormBox {
    width: 50%;
    min-width: unset;

    display: flex;
    flex-direction: column;
  }

  .logoContainer {
    padding-top: 25px;
  }

  .logoNavContainer {
    /* padding-bottom: 150px; */
  }

  .loginText,
  .signUpText {
    flex-direction: column;
  }

  .formLink {
    padding: unset;
  }

  .formLabel {
    display: none;
  }

  .fade-in1,
  .fade-in2,
  .fade-out1,
  .fade-out2 {
    /* min-height: 950px; */
    min-height: 1000px;
    /* min-height: 1200px; */
  }

  .footerText {
    /* padding: unset; */
    display: flex;
    flex-wrap: wrap;
  }

  .footerWithPicture {
    /* bottom: -150px; */
    bottom: -270px;
  }
}

/* @media only screen and (min-width: 200px) {
  .formBox {
    width: 150%;
  }

  .petProfileCard,
  .petCard {
    padding: 0;
    width: 80%;
  }
  
  .petProfilePictureContainer,
  .petPictureContainer {
    border-radius: 25px 25px 0 0;
  }

  .petProfileTextBox,
  .petTextBox {
    border-radius: 0 0 25px 25px;
  }

  .lostAndFoundHeadline {
    padding-bottom: 50px;
  }
  
  .tableCell:first-child {
    width: 20px;
  }

  .tableCell:nth-child(2) {
    overflow-wrap: anywhere;
    width: unset;
  }

  .tableCell {
    padding-right: 20px;
    width: 0;
    overflow-wrap:normal;
    line-height: unset;
  } 

  .petProfileCardInner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: unset;
  }

  .petProfilePictureContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: #aaaaaa;
    width: 50%;
    position: relative;
    height: 450px;
    overflow: hidden;
    width: 100%;
  }

  .petProfileTextBox {
    width: auto;
  }

  .backButtonBox {
    display:unset;
    justify-content:unset;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    width: auto;
  }

}

@media only screen and (min-width: 300px) {
  .formBox {
    width: 120%;
  }

  .petProfileCard,
  .petCard {
    padding: 0;
    width: 80%;
  }
  
  .petProfilePictureContainer,
  .petPictureContainer {
    border-radius: 25px 25px 0 0;
  }

  .petProfileTextBox,
  .petTextBox {
    border-radius: 0 0 25px 25px;
  }
}


@media only screen and (min-width: 400px) {
  .formBox {
    width: 120%;
  }

  .petCard {
    padding: 50px;
  }

  .petProfileCard,
  .petCard {
    padding: 0;
    width: 80%;
  }
  
  .petProfilePictureContainer,
  .petPictureContainer {
    border-radius: 25px 25px 0 0;
  }

  .petProfileTextBox,
  .petTextBox {
    border-radius: 0 0 25px 25px;
  }

} 


@media only screen and (min-width: 500px) {
  .formBox {
    width: 100%;
  }

  .petProfileCard,
  .petCard {
    padding: 0;
    width: 80%;
  }
  
  .petProfilePictureContainer,
  .petPictureContainer {
    border-radius: 25px 25px 0 0;
  }

  .petProfileTextBox,
  .petTextBox {
    border-radius: 0 0 25px 25px;
  }
}


@media only screen and (min-width: 600px) {
  .formBox {
    width: 100%;
  }

  .petProfileCard,
  .petCard {
    width: 70%;
    padding: 50px;
  }

  .petProfilePictureContainer,
  .petPictureContainer {
    border-radius: 0;
  }

  .petProfileTextBox,
  .petTextBox {
    border-radius: 0;
  }

  .lostAndFoundHeadline {
    padding-bottom: 100px;
  }

}

@media only screen and (min-width: 768px) {
  .formBox {
    width: 90%;
  }

  .petCard {
    width: 70%;
  }

  .navMainList {
    display: flex;
  }

  .navLink {
    font: 400 15px/1.2 'Poppins', sans-serif;
  }

  .navMainListMobile {
    display: none;
  }

  .hamburger {
    display: none;
  }

} 

@media only screen and (min-width: 992px) {
  .formBox {
    width: 70%;
  }

  .petCard {
    width: 70%;
  }
} 

@media only screen and (min-width: 1200px) {
  .formBox {
    width: 70%;
  }

  .petCard {
    width: 30%;
  }

   .petProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }
  
  .petProfileCard {
    border-radius: 25px;  
    box-shadow: 7px 12px 24px -8px rgba(0,0,0,0.40);
    background: rgba(255,255,255);
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-height: 70%;
  } 
  
  .petProfileCardInner {
    display: flex;
    width: 100%;
    min-height: 600px;
    flex-direction: row;
  }

  .petProfilePictureContainer {
    position: relative;
    overflow: hidden;
    background: #aaaaaa; 
    width: 50%;
    position: relative;
    overflow: hidden;

    flex-direction: row;
    display: flex;
    height: unset;
  }

  .petProfilePicture {
    position: absolute;
    top: 50%;    
    left: 50%;
    right: 50%;
    margin: auto;
    transform: translate( -50%, -50%);
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    max-height: 150%;
    max-width: 150%;
  }
  
  .petProfileTextBox {
      padding: 40px;
      background: #ebebeb; 
      min-height: 300px;
      width: 50%;
      overflow-wrap: break-word;
  }
  
  .backButtonBox {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    width: 70%;
  }
}

@media only screen and (min-width: 1600px) {
  .petCard {
    width: 20%;
  }
}

@media only screen and (min-width: 2100px) {
  .formBox {
    width: 30%;
  }

  .petCard {
    width: 15%;
  }
}  */




