@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* NAVBAR */
.navLogo {
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  color: rgb(183, 223, 219);
  border: 2px solid transparent;
  border-radius: 100%;
}

.navLogoInner {
  height: 20px;
  fill: rgb(183, 223, 219);
}

.navLogo:hover {
  margin: 10px;
  border: 2px solid rgb(183, 223, 219);
  border-radius: 100%;
  transition: border 0.2s linear;
  /* transition: border 160ms ease-in-out; */
}

.navLogoInner:after {
  display: block;
  content: '';
  border-bottom: solid 2px rgb(183, 223, 219); 
  transform: scaleX(0);  
  transition: transform 0.2s linear;
  /* transition: transform 160ms ease-in-out; */
}

.navLink {
  text-align: center;
  padding: 22.5px;
  margin: auto;
  text-decoration: none;
  color: rgb(183, 223, 219);
  font: 300 15px/1.2 "Poppins", sans-serif;
  display: inline-block; 
}

.navLink:after {
  display: block;
  content: '';
  border-bottom: solid 2px rgb(183, 223, 219); 
  transform: scaleX(0);  
  transition: transform 180ms ease-in-out;
  /* transition: transform 0.1s linear; */
}

.navLink:hover:after {
  transform: scaleX(1);
}


/* Report - Picture */
.petPicture {
  width: 300px;  
  height: 300px;
  /* border: 2px solid black; */
  cursor: pointer; 
  position: relative;

  /* delete later, or add to img tag: */
  background: rgb(221 226 225); 
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* CHANGE THE UL LI TO CLASSES!!!!!!!! */
.radioList {
  display: flex;
}

ul li{
  position: relative;
  padding: 0 25px 0 0;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li input[type=checkbox]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  padding: 5px 0 5px 40px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.2s linear;
}

ul li:hover label{
	color: #47a39c;
}

ul li .radioCheck{
  display: block;
  position: absolute;
  border: 2px solid;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 0;
  z-index: 5;
  transition: border 0.2s linear;
}

ul li .checkboxCheck{
  display: block;
  position: absolute;
  border: 2px solid;
  height: 20px;
  width: 20px;
  top: 0;
  z-index: 5;
  transition: border 0.2s linear;
}

ul li:hover .radioCheck {
  border: 2px solid #47a39c;
}

ul li:hover .checkboxCheck {
  border: 2px solid #47a39c;
}

ul li .radioCheck::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.2s linear;
}

ul li .checkboxCheck::before {
  display: block;
  position: absolute;
	content: '';
  margin: auto; 
}

/* Radio & Checkbox Inputs */
input[type=radio]:checked ~ .radioCheck {
  border: 2px solid;
}

input[type=checkbox]:checked ~ .checkboxCheck {
  border: 2px solid;
}

input[type=radio]:checked ~ .radioCheck::before{
  background: #000;
}

input[type=checkbox]:checked ~ .checkboxCheck::before{
  left: 6px;
  width: 5px;
  height: 11px;
  border: solid #000;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

input[type=radio]:checked ~ label{
  color: #000;
}

input[type=checkbox]:checked ~ label{
  color: #000;
}

/* BACKGROUND FOR LOGIN/REGISTRATION */
.fade-in1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%); 
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-out1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%); 
  transition: opacity 1s ease-in-out;
}

.fade-in2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%);
  transition: opacity 1s ease-in-out;
}

.fade-out2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: brightness(90%);
  transition: opacity 1s ease-in-out;
}

/* LOGIN, REGISTRATION WITH LOGO */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formBox {
  background: rgba(255,255,255); 
  padding: 50px; 
  height: fit-content;
  border-radius: 25px; 
  box-shadow: 7px 12px 24px -8px rgba(0,0,0,0.40);
}

.formHeadline {
  font: 500 30px/1.2 "Poppins", sans-serif;
  padding-bottom: 30px;
  color: #226660;
}

.loginText,
.signUpText {
  /* padding-bottom: 40px; */
  font: 400 15px / 1.2 Poppins, sans-serif;
  display: flex;
}

.message {
  height: 30px;
  padding-top: 10px;
  font: 400 15px / 1.2 Poppins, sans-serif;
}

.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

.emailBox,
.usernameBox,
.passwordBox,
.phoneBox {
  padding-top: 20px;
  display: flex;
}

.formButton,
.searchButton {
  padding: 16px;
  cursor: pointer;
  border-color: transparent;
  text-transform: uppercase;
  background: rgb(34, 102, 96);
  color: #fff;
}

.formButton {
  margin-top: 40px;
  width: 100%;
  border-radius: 0.25rem;
}

.searchButton {
  border-radius: 0 0.25rem 0.25rem 0;
}

.formButton:hover,
.searchButton:hover {
  background: rgb(71, 163, 156);
}

.formLabel {  
  padding: 16px;
  width: fit-content;
  fill: #226660;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(34, 102, 96);
  /* background: #47a39c;
  border-radius: 0.25rem 0 0 0.25rem; */
}

.formInput,
.searchInput {
  /* padding: 16px; */
  padding: 16px 8px;
  width: 300px;
  border-bottom: 2px solid rgb(34, 102, 96);
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  font: 300 15px/1.2 "Poppins", sans-serif;
  /* background: rgb(183, 223, 219); */
  /* border: none; */
}

/* .formInput {
  border-radius: 0 0.25rem 0.25rem 0;
}

.searchInput {
  border-radius: 0.25rem 0 0 0.25rem;
} */

/* .formInput:hover,
.searchInput:hover {
  background: rgb(191, 230, 226);
} */

.formInput:focus,
.searchInput:focus {
  outline: none;
}

.formLink {
  text-decoration: none;
  color: rgb(71, 163, 156);
  padding-left: 5px;
}

.formLink:hover {
  color: rgb(34, 102, 96);
}